.banner {
  position: relative;

  figure {
    height: 350px;
    width: 100%;

    // need to either crop all my images for the banners or figuree out a way to size them with css
  }

  h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: var(--text-white);
    text-shadow: 3px 3px 0px rgba($color: #000000, $alpha: 0.6);
  }
}
