/* Custimize based on screen size */
@media (min-width: 767px) {
  .splide__slide {
    position: relative;
  }

  .carousel-content {
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    text-align: left;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 75%;
    height: 100%;
  }
}

// Arrows
.splide__arrow {
  position: absolute;
  top: 30%;
  transform: translateY(-50%);

  z-index: 2;

  background: var(--button-color);
}

.splide__arrow--next {
  right: 0px;
}

.splide__arrow--prev {
  left: 0px;
}

.splide {
  img {
    background-position: cover;
    width: 100%;
    height: 300px;

    @media (min-width: 767px) {
      height: 500px;
    }
  }
}

.splide__slide {
  position: relative;
}

.carousel-content {
  position: absolute;

  margin: 0 auto;
  width: 55%;

  color: var(--text-white);
  text-shadow: 3px 3px 0px rgba($color: #000000, $alpha: 0.6);
}
