/* Custimize based on screen size */
// Change content position based on screen size
@media (min-width: 767px) {
  .splide__slide {
    position: relative;
  }

  .carousel-content {
    position: absolute;

    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);

    width: 75%;
    height: 100%;
  }
}

.splide {
  // Arrows
  &__arrow {
    position: absolute;
    top: 30%;
    transform: translateY(-50%);

    z-index: 1;

    background: var(--button-color);

    border-radius: 5px;
    padding: 10px 5px;
    opacity: 0.8;

    svg {
      path {
        fill: #fff;
      }
    }
  }

  &__arrow--next {
    right: 0px;
  }

  &__arrow--prev {
    left: 0px;

    svg {
      transform: rotate(180deg);
    }
  }

  // Checkbox indicators
  &__pagination__page {
    position: absolute;
    bottom: 50%;
    left: 50%;
    padding: 10px;
  }
}

// Change image specs
.splide {
  img {
    background-position: cover;
    width: 100%;
    height: 300px;

    @media (min-width: 767px) {
      height: 500px;
    }
  }
}

// Styles for content
.carousel-content {
  text-align: center;

  width: 60%;
  margin: 0 auto;

  // Styles for desktop
  @media (min-width: 767px) {
    text-align: left;
    margin: 0 auto;
    width: 45%;

    color: var(--text-white);
    text-shadow: 3px 3px 0px rgba($color: #000000, $alpha: 0.6);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;

    .btn {
      margin: 0;
    }
  }
}
