.section {
  padding: 2rem 0rem;

  @media (min-width: 767px) {
    padding: 6rem 0;
  }

  &-content {
    position: relative;
    z-index: 1;
  }

  &-split-content {
    @media (min-width: 767px) {
      display: flex;
    }

    figure {
      @media (min-width: 767px) {
        margin-left: 4rem;
      }
    }
  }

  .flex-reverse {
    figure {
      margin-left: 0;

      @media (min-width: 767px) {
        margin-right: 4rem;
      }
    }
  }
}

// JS SCROLL
.section {
  &-content {
    opacity: 0;
    transform: translateY(100%);
    transition: all 0.2s ease;
  }

  &-content.scrolled {
    opacity: 1;
    transform: translateY(0);
  }
}
