.section {
  padding: 2rem 0rem;

  @media (min-width: 767px) {
    padding: 6rem 0;
  }

  &-content {
    position: relative;
    z-index: 1;

    ul {
      margin-left: 2rem;
      li {
        list-style: disc;
        padding: 1rem 0;
      }
    }
  }

  &-split-content {
    @media (min-width: 767px) {
      display: flex;
    }

    figure {
      @media (min-width: 767px) {
        margin-left: 4rem;
      }
    }
  }

  .flex-reverse {
    figure {
      margin-left: 0;

      @media (min-width: 767px) {
        margin-right: 4rem;
      }
    }
  }
}
